body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: red;
}

#chatContainer {
    width: 30vw; /* 30% от ширины экрана */
    height: 100vh; /* Полная высота экрана */
    background-color: #2e2e2e;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px 0 0 8px;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

#chatBox {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 15px;
    padding-right: 10px;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.userMessage {
    justify-content: flex-end;
}

.botMessage {
    justify-content: flex-start;
}

.message p {
    padding: 10px 15px;
    border-radius: 15px;
    color: #ffffff;
    max-width: 80%;
    word-wrap: break-word;
}

.userMessage p {
    background-color: #4a90e2;
}

.botMessage p {
    background-color: #646464;
}

#userQuery {
    width: 100%;
    padding: 10px;
    border: 1px solid #4a90e2;
    border-radius: 4px;
    background-color: #1e1e1e;
    color: #ffffff;
}

#sendButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4a90e2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#sendButton:hover {
    background-color: #357ABD;
}
